body {
    background-color:yellow;
    }
  h1 {
    font-size:65px;
    text-align:center;
    color:#0005;
    position:fixed;
    
  }
  li {
    font-size:45px;
    color: blue;
  }
  
  